.first{
    height: 40px;
    width: 1500px;
  border-width: 3px;
  border-color: rgb(0, 24, 240);
  background-color: rgb(240, 1, 208);
  margin: 10px;
  padding: 5px;
  text-align: center;

}

.p1{
    text-align: center;

    
}

.img1{
text-align: center;
display: block;
margin: 0 auto;
vertical-align: middle;
justify-content: center;
align-items: center;

}

.p2{
text-align: justify;
text-size-adjust: 5px;
size: 3px;
color: black;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.sec{
    height: 40px;
    width: 1550px;
  border-width: 3px;
  border-color: rgb(161, 0, 0);
  background-color: rgb(10, 206, 255);
  margin: 10px;
  padding: 5px;
  text-align: center;
  align-items: end;
}

.img2{
    text-align: center;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    


}

.p3{
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: large;

}

.p4{
text-align: justify;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
font-size: large;

}

.div-1{
    border: 5px solid #ffee00; 
    padding: 8px; 
    border-width: 4px;

   
}